.kotcscteams-team-list {
    display: flex;
    justify-content: center; /* Centers the list in the component */
    padding: 20px;
}

.kotcscteams-team-list ol {
    padding: 0;
    margin: 0;
    text-align: left; /* Left-aligns the list items */
}

.kotcscteams-team-list li {
    padding: 5px 0; /* Optional: adds spacing between list items */
}
