.kotchranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kotchranking-points-type-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.kotchranking-points-type-container label {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.kotchranking-points-type-container input[type="radio"] {
    margin-right: 0.5rem;
}

.ranking-table {
    width: 80%;
    border-collapse: collapse;
}

.ranking-table th, .ranking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.ranking-table th {
    background-color: #f2f2f2;
}